{{#if cars}}
    <h2>{{cars.model}} Details</h2>
    <ul>
        <li>Year: {{cars.year}}</li>
        <li>Make: {{cars.make}}</li>
        <li>Type: {{cars.type}}</li>
        <li>Color: {{cars.color}}</li>
        <li>Capacity: {{cars.capacity}}</li>
        <li>Horsepower: {{cars.horsepower}}</li>
    </ul>
{{else}}
    <h2>{{cars.model}} not found</h2>
{{/if}} 
<a href="/">Return to Home Page</a>